<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MVC - Bootstrap 3</title>
 
    <!-- CSS de Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    
    <section class="container">

      <nav>
        <a href="index.php?c=productosController.php">Ver productos</a>
        <a href="index.php?c=blogController.php">Ver noticias del blog</a>
      </nav>
      <header>
        {% block encabezado %}
        <h1>Hola desde el encabezado de las entradas</h1>

        {% endblock %}
      </header>

      <section>
        <header>
          <h2>
            {% block titulo_contenido %}
                 Sección de 
             {% endblock %} 
         </h2>
        </header>
        
        <section>
          {% block contenido %}
            Aquí va el contenido
          {% endblock %}
        </section>
      </section>
      
      <footer>
        {% block pie %}
          <h4>Todos los derechos reservados</h4>

        {% endblock %} 
      </footer>

    </section>
    
    <!-- Librería jQuery requerida por los plugins de JavaScript -->
    <script src="js/jquery-3.3.1.min.js"></script>
 
    <!-- Todos los plugins JavaScript de Bootstrap -->
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>