{% extends 'base.html.twig' %}



{% block titulo_contenido %}
    {{ parent() }}

    Entradas
{% endblock %}



{% block contenido %}
    
    <table class="table table-striped">
      <tr>
        <th>Título del Post</th>
      </tr>
      {% for entrada in entradas %}

        <tr>
          <td>
            <a href="index.php?c=blogController.php&id={{ entrada.id }}">
              {{ entrada.titulo}}
            </a>
          </td>
        </tr>
             
      {% endfor %}

    </table>
    
{% endblock %}