{% extends 'base.html.twig' %}



{% block titulo_contenido %}

    Mostrando una única entrada
{% endblock %}

{% block contenido %}
    

    <article>
    	<header>
    		<h3>{{ entrada.titulo }}</h3>
    	</header>
    	<section>
    		{{ entrada.contenido }}
    	</section>
    	<footer>
    		{{ entrada.fechaAlta }}  {{ entrada.autor }}
    	</footer>
    </article>
{% endblock %}