{% extends 'base.html.twig' %}

{% block encabezado %}
  <h1>Hola desde el encabezado de los productos</h1>

{% endblock %}

{% block titulo_contenido %}
    {{ parent() }}

    Productos
{% endblock %}



{% block contenido %}
    
   
  <table class="table">
    
    <tr>
      <th>Productos listados</th>
    </tr>

    {% for producto in productos %}

       <tr>
          <td>
            <a href="index.php?c=productosController.php&id={{ producto.idProd }}">
              {{ producto.nombreProd }}
            </a>
          </td>
          <td>
            <a href="index.php?c=productosController.php&id={{ producto.idProd }}">
              {{ producto.precioProd }}
            </a>
          </td>
        </tr>
        
    {% endfor %}


  </table>

    
{% endblock %}