{% extends 'base.html.twig' %}



{% block titulo_contenido %}

    Mostrando un único producto
{% endblock %}

{% block contenido %}
    

    <article>
    	<header>
    		<h3>{{ producto.nombreProd }}</h3>
    	</header>
    	<section>
    		{{ producto.descripcionProd }}
    	</section>
    	<footer>
    		{{ producto.fechaAlta }}  {{ producto.precioProd }}
    	</footer>
    </article>
{% endblock %}